<div class="js-page-controller-action home-page" data-action-name="home">
  <div class="content someother">
    <img class="starterkit-logo" src="images/starterkit_logo.jpg" alt="Starterkit Logo" />
    <p>Your STARTER<span class="highlight">KIT</span> is ready! Start building</p>
    <h3>Create a Component</h3>
    <code>grunt run:component --name=&#60;component_name&#62;</code>
    <p><a href="http://confluence.digitas.com/display/CODEBASE/Starterkit+-+Working+with+Components">Learn more about components</a></p>
    <h3>Create a Page</h3>
    <code>grunt run:page --name=&#60;page_name&#62;</code>
    <p><a href="http://confluence.digitas.com/display/CODEBASE/Starterkit+-+Working+with+Pages">Learn more about pages</a></p>
  </div>
</div>
